<div class="prepend-4 span-16 append-4 last">
	<div class="pad20 shadow round">
		<div id="new_tour_form_header">
			<div class="span-9">
				<h1>Edit your tour.</h1>
				<h3>Earn money by leading your own tour.</h3>
				<p class="gray">Your tour is amazing and unique.  Tell potential travellers
					why they should take your tour.  Highlight what makes your tour standout!</p>
			</div>
			<div class="span-6 last">
				<img src="/images/create_a_tour_title_photo.png" class="round right">
			</div>
		</div>
		<div class="clear pad30-top">
			<%= render 'tour_form' %>
		</div>
	</div>
</div>