<h1>How it works</h1>
<div id ="site-faq">		
	<p>Frequently Asked Questions</p>

	What is MeetupTours?
	<p>MeetupTours is a marketplace where anyone can list and book group tours locally and around the world. </p>

	Is it safe?
	<p>Well, you could have a heart attack from excitement. It’s as safe as meeting up with travelers at a hostel, making a new friend, or joining a Meetup. It's safe enough that we use the site ourselves. We leave it up to you to take the proper precautions and use common sense. But we are currently developing features such as profiles, reviews, and Facebook and Linkedin verifications to help you better know others on the site.</p>

	Can anyone be a tour leader? Even me?!
	<p>Yes.</p>

	As a tour leader what kind of tour should I create?
	<p>Whatever you’d like – preferably something that interests you and others would find appealing. Many have never been to your city before, what would you want to do first? You decide what you are going to provide and set the price accordingly.</p>

	How much does it cost?
	<p>It's free to sign up and create a listing. The price of listings vary by city and activities offered by the tour leader. In the end, it's usually less than a price offered almost anywhere else.</p>

	Why should I use MeetupTours?
	<p>(1) Easily meet other travelers, (2) It’s flexible (create and take any type of tour), (3) visit cool places.</p>

	So who created MeetupTours?
	<p>Four guys who want to disrupt the travel market, allow anyone to create and lead their own tours, and meet other travelers on the way. </p>

	How do I pay for tours?
	<p>You will have to arrange payment directly with your tour leader after you’ve booked a tour (we’ll put you in touch via email). Most likely you will pay when you meet up the day the tour begins. We are currently developing an online payment system - stay tuned.</p>

	How do I reach the host if my plans change?
	<p>Just email them. Your leaders are friendly folk, why else would they do this?</p>

	Can I post more than one tour over?
	<p>Yes, you can post as many tours (or listings) as you’d like. </p>

	Are there any site rules or guidelines?
	<p>Show up! Its common courtesy and it’s your money on the line. At least cancel your reservation with 48 hours notice. If you’re a tour leader, make sure you arrive on time. </p>

	Finally, beyond our Terms and Conditions, you should always:
	<p>Be honest about your listing. There is no use in fudging the details. You will have to meet in-person eventually. Why make it awkward, or worse? Besides, the best way to get repeat business is to be the person you say you are.</p>	
</div>
