<footer>
  <nav>
    <ul class = "footer_nav">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog", 'http://advently.posterous.com/' %></li>
      <li><%= link_to "Terms & Privacy", '#' %></li>
    </ul>
  </nav>
 	<p>Join us on <a href="https://twitter.com/#!/goAdvently">Twitter</a></p>
  <p class="gray">&copy; 2011 Advently</p>
</footer>